@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');@import url('https://fonts.googleapis.com/css?family=Heebo:100&display=swap');

* { box-sizing: border-box; }

header, nav, main, footer 
{ 
	display: block; 
}

body 
{

background-image: linear-gradient(to bottom, #95aaad,  #cad4dc, #95aaad);
}

#pretty
{

text-decoration: none;
color: #FFFFFF; 
font-size: 5em;
text-shadow: 3px 2px 5px black;
padding-top: .15em;
transition: color 2s linear;		 
}	

nav 
{ 
font-weight: bold;
font-family: Heebo, Helvetica, sans-serif;
padding: 2em 0 0 0;
float: left;
width: 165px;
margin-left: 1.75em;
margin-right: 1.75em;
color: black;
font-size: 1.2em;
}

nav a
{
	color: black;
	text-decoration: none;
	display: block;
	text-align: center;
	transition: background-color 2s linear;
	border: 3px outset #CCCCCC;
	padding: 1em;
	margin-bottom: 1em;
}

nav a:link 
{
	background-color:#e1cecf;
	color: black;
}

nav a:visited
{
	color: black;
	
}

nav a:hover 
{
	color: #A26100; 
	border: 3px inset #6e7d82;
}

nav ul 
{
	padding-left: 0;
	list-style-type: none;
	
}

.bottomNav 
{
	position: absolute;
	left: -999px;
	top: -999px;
}

#homeHero 
{
	height: 410px;
    background-image: url(facial.jpg);
	background-position: right;
	background-repeat: no-repeat;
	padding-left: 350px;
	margin-right: 50px;
	margin-bottom: 0;	   
	padding-bottom: 0;
}

header 
{
	text-decoration: none;
	font-family: tangerine, display;
	 background-image: url(banner2.jpg);
     background-repeat: no-repeat;
     background-position: left;
     background-size: cover;
     height: 140px;
	 margin-bottom: 0;
	 padding-top: .3em;	 
}

.pretty {
		text-decoration: none;
         color: #FFFFFF; 
		 font-size: 5em;
		 text-shadow: 3px 2px 5px black;
		 padding-top: .15em;
		 
		 
		 
}

#wrapper { 
		  width: 90%;
          margin-left: auto;
		  margin-right: auto;
		  margin-top: 2%;
		  margin-bottom: 2%;
		  background-color: #b7c9c9;
		  max-width: 800px;
		  min-height: 900px;	  
}

h1
{
	font-family: tangerine, display;
    font-size: 3em;
}

h2
{
	margin-left: 5em;
	font-size: 3em;
	font-family: Tangerine, display;
	font-weight: lighter;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

dt
{
	
	font-size: 3em;
	font-family: Tangerine, display;
	font-weight: lighter;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;	
}
dd
{
	font-family: Heebo, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 6em;
	margin-right: 1em;
}
.costs
{
	font-family: Heebo, Helvetica, Sans-serif;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 1em;
	
}
h3
{
	margin-left: 12.25em;
	max-width: 60ch;
	display: block;
	font-family:  Heebo, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0;
	padding-right: 1em;
	padding-top: 0;
	padding-bottom: 0;
}

h3 a
{
	text-decoration: none;
	color: #ffffff;
	text-shadow: 3px 2px 5px black;
	font-style: italic;
}




#allProducts

{
	display:grid;
	grid-template-columns:  repeat(auto-fill, minmax(15rem, 1fr));
	grid-gap:1rem;
	grid-auto-rows:1fr;
	padding-bottom: 2em;
	
}

#allProducts div
{

	background-color: #e1cecf;
	font-size:1.2rem;
	padding: .5em;
	margin-right: .75em;
	
	
}

#allProducts img

{
	display: block;
	width:100%
	
}
.productDetails h4
{
	font-family: Heebo, Helvetica, sans-serif;
	font-size: 1em;
}

.popular
{
	font-family: Heboo, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
	padding: .8em 0 .3em 0;
}
.twentyPercent
{
	font-family: Heboo, Helvetica, sans-serif;
	font-size: 1.3em;
	text-align: center;
	padding-bottom: .8em;
}


footer 
{
	padding-top: 1em;
	font-size: .80em;
	font-style: italic;
	text-align:center;
}
footer a
{
	text-decoration: none;
	font-family: Heebo, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	color: black;
}

.productInfo
{
	margin-left: 15em;
	
}
.productPicture
{
	
	margin: 1.5em 0;
}

.productName
{
	font-family: Heboo, Helvetica, sans-serif;
	font-size: 1.8em;
	padding-top: 2em;
	padding-bottom: .8em;
}
.price
{
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-left: 1em;
}


.size
{
	font-size: 1.5em;
	padding-top: 1em;
	margin-right: 1.5em;
	margin-left: 1em;	
}

.float
 {
	 float: left;
     margin-right: 25px;
	 margin-left: 15px;
	 margin-bottom: 0;
	 padding-bottom: 1em;
	 margin-top: 3em;
       
}
.clearleft 
{
	clear:left; 
}


.pca
{
	font-family: Heboo, Helvetica, sans-serif;
	font-size: 1.2em;
	padding-right: .5em;
	margin-left: 12.5em;
	margin-top: .5em;	
}

.pca a
{
	text-decoration: none;
	color: #e1cecf;
	text-shadow: 3px 2px 4px black;
	font-style: italic;
	font-size: 1.3em;
}


.pca2
{
	font-family: Heboo, Helvetica, sans-serif;
	font-size: 1.2em;
	padding-right: .5em;
	margin-left: 12.5em;
	padding-top: 1em;
	margin-bottom: 2em;	
}

.pca2 a
{
	text-decoration: none;
	color: #e1cecf;
	text-shadow: 3px 2px 4px black;
	font-style: italic;
	font-size: 1.3em;
}

button
{
	font-size:1.1rem;
	background-color: #ffffff;
	border: 0;
	padding:0.75rem 1.2rem;
	border: 3px outset #CCCCCC;
	
}

button:hover
{
	background-color:#b7c9c9;
	color: black;
	box-shadow: none;
}
h4
{
	font-family: Heboo, Helvetica, sans-serif;	
	font-size: 1em;
}

.productInfo li
{
	font-size: 1.1em;
	margin-right: 1em;
}

h4
{
	padding-top: .4em;
}

.contactInfo
{
	font-family: Heboo, Helvetica, san-serif;
	font-size: 2.5em;
	text-align: left;
	padding-bottom: .5em;
	margin-top: .3em;
}

.apf
{
	font-family: Heboo, Helvetica, san-serif;
	font-size: 1.6em;
	margin-bottom: .5em;
	margin-left: 1em;
	}

.address
{
	font-family: Heboo, Helvetica, san-serif;
	font-size: 1.2em;
	}

.phone
{
	font-family: Heboo, Helvetica, san-serif;
	font-size: 1.5em;
	font-weight: bold;
}


.theContactInfo .apf
{
	border: 0;
}

.emailPhone
{
	font-size: 1.1em;
}

.emailPhone a
{
	text-decoration: none;
	text-shadow: 4px 4px 4px #e1cecf;
	color: black;
	font-size: 1.1em;
}
.moreInfo
{
	padding-right: 2em;
	padding-left: 2em;
	margin-bottom: 1em;
}

 h4 a
{
	text-decoration: none;
	text-shadow: 4px 4px 4px #e1cecf;
	color: black;
	font-size: 1.1em;
}

p iframe
{	
	outline: none;
	margin-left: 1em;
}

.appointment
{
	padding-top: 2em;
}

.appointment h2
{
	margin-top: .5em;

}

.appointment p
{
	font-size: 1.2em;
	margin-bottom: 3em;
}

.purchaseOrder
{
padding-top: 2em;	
}

.purchaseOrder h2
{
	margin-top: .5em;
	margin-bottom: 0;
}

.purchaseOrder p
{
	font-size: 1.2em;
	margin-left: 2em;
}

.treatments
{
	font-size: 1.3em;
	font-family: Heebo, Helvetica, sans-serif; 
	font-weight: bold;
}

p
{
	font-size: 1.2em;
	padding-right: 1em;
	font-family: Heebo, Helvetica, sans-serif; 
	font-weight: bold;
}

picture
{
	float: right;
	margin-right: 1em;
}	

table {
	  margin-left: auto;
      margin-right: auto;
	  width: 60%;
	  border: 1px solid #3F2860;
	  border-collapse: collapse;
	  margin-bottom: 1em; 
	  }
	  
td, th 
{ 
	   padding: 5px;
       border: 1px solid #3F2860;
	   font-weight: bold;
	   font-family: Heebo, Helvetica, sans-serif; 
}
	   
tr:nth-of-type(even) 
{ 
	   background-color: #e1cecf; 
}

caption 
{
		margin: 1em 1em 0 1em;
		font-size: 220%;
		font-family: tangerine, display;		
}

 
@media only screen and (max-width: 856px) {
	
#homeHero
{
	background-image: url(facialMed.jpg);
	background-position: right;
	margin-right: 1em;
}

h2
{
	font-size: 3em;
	padding-top: 1.5em;
	margin-left: 1.75em;
}
		
h3
{
	margin-left: 1.75em;
}
	  
dt
{
	margin-left: .75em;
}
	  
dd
{
	 margin-bottom: 2em;
}

}
@media only screen and (max-width:760px){
	
nav
{
	display:none;
}

#homeHero
{
background-position: center;
margin-top: .5em;
margin-bottom: .5em;
}

h2
{
	padding-top: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-bottom: .75em;
}

.popular
{
	font-size: 1.5em;
}

.bottomNav
{
	position: static;
}

.bottomNav 
{ 
	font-weight: bold;  
     padding: 6px 0;
	 display: block;	 
}

.bottomNav ul 
{ 
	list-style-type: none; 
	display: block;
	text-align: center;
	padding:  0;
	width: 200px;
	font-family: Heebo, Helvetica, sans-serif;
	margin: 0 auto;
	font-size: 1em;
	font-weight: bold;
	color: black;
	background-color: #cad4dc;
}

.bottomNav a 
{ 
	text-decoration: none; 
}

.bottomNav a:visited 
{ 
	color: black; 
}

.bottomNav a:hover 
{
	color: black; 
} 

.bottomNav li
{
	padding: 10px 0;
	border: 1px solid #ffffff;
	font-size: 1.25em;
}

.contactInfo
{
	margin-left: .3em;
}

.apf
{
	margin-left: .5em;
}

.emailPhone
{
	margin-left: 1em;
}

.emailPhone a
{
	margin-left: 1em;
}

.bottomNav a
{
	text-decoration: none;
	color: black;
}

.pretty
{
	font-size: 4em;
}
#pretty
{
	font-size: 4em;
}

.pca
{
	margin-left: 1em;
	margin-top: 1em;
}

.pca2
{
	margin-left: .5em;
}



.productInfo
{
	margin-left: .5em;
}

contactInfo
{
	margin-left: 0;
	padding: 0;
}
}/*end max-width 760px*/

@media only screen and (max-width: 680px){
	
label
{
	float: left;
	display: block;
	text-align: right;
	font-weight: bold;
	width: 10em;
	padding-right: 1em;
}

input 
{ 
	margin-bottom: 2em; 
    display: block;
}
				  
#mySubmit
{
	margin-left: 12em;
}

}/*end max-width 680px*/

@media only screen and (max-width: 570px)
{
 .product
{
	margin-left: 15px;
}


.pretty
{
	font-size: 3.3em;	
}

#pretty
{
	font-size: 3.3em;	
}

}/*end max-width 570px*/


@media only screen and (max-width: 460px) 
{
	
h3
{
	font-size: 1em;
}

.pretty
{
	font-size: 3em;	
}

#pretty
{
	font-size: 3em;	
}

header
{
	height: 100px
}

h1
{
	font-size: 2.2em
}
	
.costs
{
	font-size: 1.2em;
}
	
}/*end max-width 460px*/

@media only screen and (max-width: 428px)
{
	
#mySubmit
{
	margin-left: 1em;
}

}/*end max-width 428px*/

@media only screen and (max-width: 408px)
{

.price
{
	padding-top: 1em;
}
	
.bottomNav
{
	font-size: 1em;
}

}/*end max-width 408px*/

@media only screen and (max-width: 356px)
{
	
.pretty
{
	font-size: 2.6em;
}

#pretty
{
	font-size: 2.6em;
}

.twentyPercent
{
	font-size: 1em;
}

header
{
	height: 70px;
	margin-bottom: 0;
	padding-bottom: 0;
}
wrapper
{
	width: 100%;}
}/*end max-width 356px*/
